.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1350px;
  width: 100%;
  margin-top: 100px;
}
.title {
  font-size: 50px;
  line-height: 48px;
  /* identical to box height, or 96% */

  color: #070718;
  margin-bottom: 30px;
}
.text {
  max-width: 740px;
  margin-bottom: 30px;
}
.avaWrapper {
  display: flex;
}

.img {
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 50%;
  border: 2px solid #070718;
}

.avaOne {
  background-image: url(../../images/people/avaMin1.png);
}
.avaSec {
  background-image: url(../../images/people/avaMin2png.png);
  background-color: #fa85a1;
  transform: translateX(-10px);
}
.avaThird {
  background-image: url(../../images/people/avaMin3.png);
  background-color: #bdbbff;
  transform: translateX(-20px);
}

.video {
  background-image: url(../../images/video/Frame\ 1231.png);
  background-repeat: no-repeat;
  width: 880px;
  height: 495px;
}
.bottomVideo {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin-top: 35px;
}

.imgMin {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 30px;
  cursor: pointer;
}

.imgMin:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.tel {
  background-image: url(../../images/people/tel.svg);
}
.faceb {
  background-image: url(../../images/svg/f.svg);
}
.vkSec {
  background-image: url(../../images/svg/vk2.svg);
  background-size: 100%;
}
.inst {
  background-image: url(../../images/svg/inst.svg);
}
.shareWrapper {
  display: flex;
  align-items: center;
}

.videoPlayList li {
  display: flex;
  border-radius: 20px;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  line-height: 110%;
  cursor: pointer;
  padding: 20px;
}

.videoPlayList {
  width: 394px;
  box-sizing: border-box;
  padding: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  border-radius: 20px;
}

.playlistWrapper {
  position: relative;
  width: 420px;
  height: 558px;
  overflow-y: scroll;
  border-radius: 20px;
}
.playlistItems {
  background: rgba(254, 209, 110, 1);
  max-width: 388px;
  border-radius: 20px;
}

.playlistWrapper::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
  border-radius: 20px;
}

.playlistWrapper::-webkit-scrollbar-thumb {
  border-radius: 20px;
  height: 10px;
  background-color: #fff;
}
.playlistWrapper::content {
  border: 5px solid blue;
}

.videoPlayList li :hover {
  opacity: 0.8;
}

.videoPlayList span {
  width: 20px;
}
.videoPlayList img {
  border-radius: 3px;
}

.videoContainer {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  position: relative;
}

.active {
  background-color: #fff;
}
